<section class="ptb-40 gradient-bg">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="hero-content-wrap text-white text-center position-relative">
                <h1 class="text-white">{{props[0].titulo}}</h1>
                <p class="lead">{{props[0].subtitulo}}</p>
            </div>
            <div class="col-md-7 col-lg-5">
                <div class="network-map-wrap  " [hidden]="!props[0].mapa">
                    <ul class="custom-map-location">
                        <li style="top: 15%; left: 75.5%;">
                            <a [routerLink]="['../teamcountry','all']"><span data-toggle="tooltip" data-placement="top"></span></a>
                        </li>
                        <li style="top: 32%; left: 17%;">
                            <a [routerLink]="['../teamcountry','gt']"><span data-toggle="tooltip" data-placement="top" ></span></a>
                        </li>
                        <li style="top: 42%; left: 47%;">
                            <a [routerLink]="['../teamcountry','hn']"><span data-toggle="tooltip" data-placement="top" ></span></a>
                        </li>
                        <li style="top: 80%; left: 56%;">
                            <a [routerLink]="['../teamcountry','hn']"><span data-toggle="tooltip" data-placement="top" ></span></a>
                        </li>
                    </ul>
                    <img src="./assets/img/map-dark.svg" alt="location map img-responsive ">
                </div>
            </div>
        </div>
    </div>

</section>
<app-logosinstituciones [heightlogo]='heightlogo'></app-logosinstituciones>