<div class="comments-area">
    <h5 class="comments-title">3 Comments</h5>
    <div class="comment-list">
        <!-- Comment-->
        <div class="comment">
            <div class="comment-author"><img class="avatar img-fluid rounded-circle" src="assets/img/client-2.jpg" alt="comment" /></div>
            <div class="comment-body">
                <div class="comment-meta">
                    <div class="comment-meta-author"><a href="#">Jason Ford</a></div>
                    <div class="comment-meta-date"><a href="#">May 5, 2015 at 4:51 am</a></div>
                </div>
                <div class="comment-content">
                    <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.</p>
                </div>
                <div class="comment-reply"><a href="#">Reply</a></div>
            </div>
            <!-- Subcomment-->
            <div class="children">
                <div class="comment">
                    <div class="comment-author"><img class="avatar img-fluid rounded-circle" src="assets/img/client-3.jpg" alt="comment" /></div>
                    <div class="comment-body">
                        <div class="comment-meta">
                            <div class="comment-meta-author"><a href="#">Harry Benson</a></div>
                            <div class="comment-meta-date"><a href="#">May 5, 2015 at 4:51 am</a></div>
                        </div>
                        <div class="comment-content">
                            <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella.</p>
                        </div>
                        <div class="comment-reply"><a href="#">Reply</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Comment-->
        <div class="comment">
            <div class="comment-author"><img class="avatar img-fluid rounded-circle" src="assets/img/client-4.jpg" alt="comment" /></div>
            <div class="comment-body">
                <div class="comment-meta">
                    <div class="comment-meta-author"><a href="#">Henry Cain</a></div>
                    <div class="comment-meta-date"><a href="#">May 5, 2015 at 4:51 am</a></div>
                </div>
                <div class="comment-content">
                    <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.</p>
                </div>
                <div class="comment-reply"><a href="#">Reply</a></div>
            </div>
        </div>
    </div>
    <div class="comment-respond">
        <h5 class="comment-reply-title">Leave a Reply</h5>
        <p class="comment-notes">Your email address will not be published. Required fields are marked</p>
        <form class="comment-form row">
            <div class="form-group col-md-4">
                <input class="form-control" type="text" placeholder="Name">
            </div>
            <div class="form-group col-md-4">
                <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group col-md-4">
                <input class="form-control" type="url" placeholder="Website">
            </div>
            <div class="form-group col-md-12">
                <textarea class="form-control" rows="8" placeholder="Comment"></textarea>
            </div>
            <div class="form-submit col-md-12">
                <button class="btn btn-brand-01" type="submit">Post Comment</button>
            </div>
        </form>
    </div>
</div>