<app-title [props]=[propiedades]></app-title>

<!--blog details section start-->

<div class="module ptb-20">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Post-->
                <article class="post">

                    <div class="post-wrapper">
                        <div class="post-header">
                            <h1 class="post-title">The Technological Mission:</h1>
                            <ul class="post-meta">
                                <li>August 18, 2019</li>
                            </ul>
                        </div>
                        <div class="post-content">

                            <div class="align-content-center">
                                <h5 class="text-center">Cronograma </h5>
                            </div>

                            <strong>Monitoring and prevention:</strong>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-8 order-lg-last">
                                    <div class="image-box fadein text-xl-right text-center">
                                        <img src="{{'cronograma.jpg' | imagegeneral}}" alt="wp-hosting" class="img-fluid rounded" />
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-12 order-xl-first">
                                    <p>The project will follow the project life cycle established by the NASA Systems Engineering Manual. For each stage, there are multiple tasks and as the project progresses, different teams from different countries will
                                        get involved while the CFIA acts as the project management organization.</p>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-8 order-lg-last">

                                    <div class="image-box fadein text-xl-right text-center">
                                        <img src="{{'cronogramainstitution.jpg' | imagegeneral}}" alt="wp-hosting" class="img-fluid rounded" />
                                    </div>

                                </div>
                                <div class="col-xl-12 col-lg-12 col-12 order-xl-first">
                                    <p>Each institution involved will have a role according to the corresponding phase of the project, as shown in the diagram below.</p>
                                </div>
                            </div>



                            <div class="align-content-center">
                                <h5 class="text-center">System-level design of the CubeSat </h5>
                            </div>


                            <div class="row">
                                <div class=" order-lg-last">
                                    <div class="col-xl-12 col-lg-12 col-12 image-box fadein text-xl-right text-center">
                                        <img src="{{'missionpayloadsat.jpg' | imagegeneral}}" alt="wp-hosting" class="img-fluid rounded" />
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-12 order-xl-first">
                                    <p>From a systems architecture point of view, the satellite consists of 5 main subsystems.</p>
                                    <ol>
                                        <li><strong>Satellite bus, power and command:</strong>
                                            <p>System dedicated to providing all the energy necessary for the operation of CubeSat, the mechanical structure that maintains the components and the command and telemetry functions that come from Earth.</p>
                                        </li>
                                        <li><strong>Attitude control:</strong>
                                            <p>this system necessary for the operation of the communication link; the satellite is configured to have an antenna that points at nadir.</p>
                                        </li>
                                        <li><strong>Data transmission system: </strong>
                                            <p>this is the system that will receive the information from the remote location and send it to the ground station in operation.</p>
                                        </li>
                                        <li><strong>General Payload Management System:</strong>
                                            <p>includes the on-board computer whose main task is the operation of the payload and communication system to receive the information from the remote stations, store it and send it to the ground stations.</p>
                                        </li>
                                        <li><strong>Payload: </strong>
                                            <p>The payload will be an SDR system capable of different communication experiments and a small camera for educational purposes.</p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Post end-->
            </div>
        </div>
    </div>

</div>
<!--blog details section end-->