<div class="sidebar-right pl-3">

    <!-- Search widget
    <aside class="widget widget-search">
        <form>
            <input class="form-control" type="search" placeholder="Type Search Words">
            <button class="search-button" type="submit"><span class="ti-search"></span></button>
        </form>
    </aside>-->


    <!-- Categories widget-->
    <aside class="widget widget-categories">
        <div class="widget-title">
            <h6>Cube sat</h6>
        </div>
        <ul>
            <li><a [routerLink]="['about']">About the project </a></li>
            <li><a [routerLink]="['missiontec']">Technological Mission</a></li>
            <li><a [routerLink]="['missionsc']">Scientific Mission</a></li>
        </ul>
    </aside>

    <!-- Recent entries widget-->
    <aside class="widget widget-recent-entries-custom">
        <div class="widget-title">
            <h6>Work Team</h6>
        </div>
        <ul>
            <li class="clearfix">
                <div class="wi">
                    <a [routerLink]="['../teamcountry','hn']"><img src="{{'UNAH_Logo.jpg'|imagelogo}}" alt="recent post" class="img-fluid rounded" /></a>
                </div>
                <div class="wb"><a [routerLink]="['../teamcountry','hn']">Honduras work Team<span class="post-date">N participants</span></a></div>
            </li>
            <li class="clearfix">
                <div class="wi">
                    <a [routerLink]="['../teamcountry','gt']"><img src="{{'USAC_Logo.png'|imagelogo}}" alt="recent post" class="img-fluid rounded" /></a>
                </div>
                <div class="wb"><a [routerLink]="['../teamcountry','gt']">Guatemala work Team<span class="post-date">N participants</span></a></div>
            </li>
            <li class="clearfix">
                <div class="wi">
                    <a [routerLink]="['../teamcountry','cr']"><img src="{{'UCR_Logo.png'|imagelogo}}" alt="recent post" class="img-fluid rounded" /></a>
                </div>
                <div class="wb"><a [routerLink]="['../teamcountry','cr']">Costa Rica Work Team<span class="post-date">N participantes</span></a></div>
            </li>
        </ul>
    </aside>

    <!-- Subscribe widget
    <aside class="widget widget-categories">
        <div class="widget-title">
            <h6>Newsletter</h6>
        </div>
        <p>Enter your email address below to subscribe to my newsletter</p>
        <form action="#" method="post" class="d-none d-md-block d-lg-block">
            <input type="text" class="form-control input" id="email-footer" name="email" placeholder="info@yourdomain.com">
            <button type="submit" class="btn btn-brand-01 btn-block mt-3">Subscribe</button>
        </form>
    </aside>
-->
    <!-- Tags widget
    <aside class="widget widget-tag-cloud">
        <div class="widget-title">
            <h6>Tags</h6>
        </div>
        <div class="tag-cloud"><a href="#">e-commerce</a><a href="#">portfolio</a><a href="#">responsive</a><a href="#">bootstrap</a><a href="#">business</a><a href="#">corporate</a></div>
    </aside>
</div>
-->