<app-title [props]=[propiedades]></app-title>

<section class="feature-tab-section ptb-20 ">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-6 order-lg-last">

                <h2>Morazan Sat</h2>
                <div class="row pt-2">
                    <p>Our work team and the name of this project are inspired by the ideals of the great visionary and integrationist Francisco Morazán, the last president of the Republic of Central America. We believe in the importance of facing together
                        the greatest challenges that the region shares through cooperation, development of new capacities and transfer of knowledge between nations. To enter the field of aerospace development is essential for the future and the integral
                        development of our nations. The academic, technological, scientific and social benefits of aerospace development are hard to underestimate.</p>
                    <p>This joint effort and a new chapter in the history that we are writing, supported by the Central American Integration System, lays the initial foundations so that future generations of Central Americans can be born with tangible opportunities
                        to fulfill their dreams of reaching space.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-6 order-xl-first">

                <div class="image-box fadein text-xl-right text-center">
                    <img src="./assets/img/morazanca.png" alt="wp-hosting" class="img-fluid rounded" />
                </div>
            </div>
        </div>

    </div>
</section>