<header id="header" class="header-main  gradient-bg">
    <!--main header menu start-->
    <div id="logoAndNav" class="main-header-menu-wrap bg-transparent fixed-top">
        <div class="container">
            <nav class="js-mega-menu navbar navbar-expand-md header-nav">

                <!--logo start-->
                <a class="navbar-brand" [routerLink]="['index']"><img src="./assets/img/logo-white.png" width="120" alt="logo" class="img-fluid" /></a>
                <!--logo end-->

                <!--responsive toggle button start-->
                <button type="button" class="navbar-toggler btn" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                      <span id="hamburgerTrigger">
                        <span class="ti-menu"></span>
                      </span>
                  </button>
                <!--responsive toggle button end-->

                <!--main menu start-->
                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto main-navbar-nav">
                        <!--home start-->
                        <li class="nav-item hs-has-sub-menu custom-nav-item" routerLinkActive="active">
                            <a class="nav-link custom-nav-link" [routerLink]="['index']">Home</a>
                        </li>
                        <!--home end-->






                        <!--pages start-->
                        <li class="nav-item hs-has-sub-menu custom-nav-item">
                            <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Team</a>

                            <!-- Pages - Submenu -->
                            <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" [routerLink]="['team']">General</a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" [routerLink]="['teamcountry/gt']">Guatemala</a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" [routerLink]="['teamcountry/hn']">Honduras</a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" [routerLink]="['teamcountry/cr']">Costa Rica</a>
                                </li>
                            </ul>
                            <!-- End Pages - Submenu -->
                        </li>
                        <!--pages end-->
                    </ul>
                </div>
                <!--main menu end-->
            </nav>
        </div>
    </div>
    <!--main header menu end-->
</header>