<div id="preloader">
    <div class="preloader-wrap">
        <img src="assets/img/logo-color.png" alt="logo" class="img-fluid" />
        <div class="preloader">
            <i>.</i>
            <i>.</i>
            <i>.</i>
        </div>
    </div>
</div>
<!--preloader end-->
<!--header section start-->
<header id="header" class="header-main">
    <!--main header menu start-->
    <div id="logoAndNav" class="main-header-menu-wrap bg-transparent fixed-top">
        <div class="container">
            <nav class="js-mega-menu navbar navbar-expand-md header-nav">

                <!--logo start-->
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo-white.png" width="120" alt="logo" class="img-fluid" /></a>
                <!--logo end-->

                <!--responsive toggle button start-->
                <button type="button" class="navbar-toggler btn" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                      <span id="hamburgerTrigger">
                        <span class="ti-menu"></span>
                      </span>
                  </button>
                <!--responsive toggle button end-->

                <!--main menu start-->
                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto main-navbar-nav">
                        <!--home start-->
                        <li class="nav-item hs-has-mega-menu custom-nav-item" data-position="center">
                            <a id="homeMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Home</a>

                            <!--home mega menu start-->
                            <div class="hs-mega-menu main-sub-menu w-100" aria-labelledby="homeMegaMenu">
                                <div class="row no-gutters">
                                    <div class="col-lg-5 col-sm-6 col-12 gray-light-bg custom-radius-left">
                                        <div class="menu-item-wrap p-4">
                                            <h6>#1 Web Hosting Company</h6>
                                            <ul class="list-unstyled tech-feature-list">
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>Flexible</strong> Easy to Use Control Panel</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>Unmetered</strong> Bandwidth</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>Unmetered</strong> Sub Domains, Accounts</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>99%</strong> Uptime Guarantee</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>45-Day</strong> Money-Back Guarantee</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>Free SSL</strong> Certificate Included</small></li>
                                            </ul>
                                            <a class="btn btn-brand-03 mt-3" href="#">Learn More <span
                                                      class="fas fa-angle-right ml-2"></span></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-sm-6 col-12 custom-radius-right">
                                        <div class="row no-gutters p-4">
                                            <div class="col-12">
                                                <span class="sub-menu-title pl-3">Our Popular Products</span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="title-with-icon-item">
                                                    <a class="title-with-icon-link" href="#">
                                                        <img src="assets/img/client-1-color.png" width="85" class="img-fluid" alt="client" />
                                                        <small class="u-header__promo-text">Product Landing Page Template</small>
                                                    </a>
                                                </div>
                                                <div class="title-with-icon-item">
                                                    <a class="title-with-icon-link" href="#">
                                                        <img src="assets/img/client-2-color.png" width="85" class="img-fluid" alt="client" />
                                                        <small class="u-header__promo-text">Corporate Business & Agency Template</small>
                                                    </a>
                                                </div>
                                                <div class="title-with-icon-item">
                                                    <a class="title-with-icon-link" href="#">
                                                        <img src="assets/img/client-6-color.png" width="85" class="img-fluid" alt="client" />
                                                        <small class="u-header__promo-text">App Landing Page Template</small>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="title-with-icon-item">
                                                    <a class="title-with-icon-link" href="#">
                                                        <img src="assets/img/client-3-color.png" width="85" class="img-fluid" alt="client" />
                                                        <small class="u-header__promo-text">App Landing Page Template</small>
                                                    </a>
                                                </div>
                                                <div class="title-with-icon-item">
                                                    <a class="title-with-icon-link" href="#">
                                                        <img src="assets/img/client-4-color.png" width="85" class="img-fluid" alt="client" />
                                                        <small class="u-header__promo-text">Corporate Business Template</small>
                                                    </a>
                                                </div>
                                                <div class="title-with-icon-item">
                                                    <a class="title-with-icon-link" href="#">
                                                        <img src="assets/img/client-5-color.png" width="85" class="img-fluid" alt="client" />
                                                        <small class="u-header__promo-text">Hosting Provider Template</small>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--home mega menu end-->
                        </li>
                        <!--home end-->

                        <!--pages start-->
                        <li class="nav-item hs-has-sub-menu custom-nav-item">
                            <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Pages</a>

                            <!-- Pages - Submenu -->
                            <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" href="about-us.html">About Us</a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" href="black-friday-coming.html">Black Friday Coming<span class="badge badge-warning ml-auto">New</span></a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" href="black-friday-sale-page.html">Black Friday Sale<span class="badge badge-warning ml-auto">New</span></a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" href="offer-single-page.html">Black Friday Single<span class="badge badge-warning ml-auto">New</span></a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" href="terms-condition.html">Terms & Condition<span class="badge badge-warning ml-auto">New</span></a>
                                </li>
                                <li class="nav-item submenu-item">
                                    <a class="nav-link sub-menu-nav-link" href="privacy-policy.html">Privacy Policy<span class="badge badge-warning ml-auto">New</span></a>
                                </li>
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkPagesPricing" class="nav-link sub-menu-nav-link sub-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesPricing">Pricing</a>

                                    <ul id="navSubmenuPagesPricing" class="hs-sub-menu main-sub-menu" aria-labelledby="navLinkPagesPricing" style="min-width: 230px;">
                                        <li><a class="nav-link sub-menu-nav-link" href="pricing-default.html">Pricing Default</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="pricing-package.html">Pricing Packages</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="pricing-web-hosting.html">Web Hosting Packages</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="pricing-windows-hosting.html">Windows Hosting</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="pricing-comparision.html">Pricing Comparison</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="vps-pricing.html">VPS Pricing</a></li>
                                    </ul>
                                </li>
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkPagesBlog" class="nav-link sub-menu-nav-link sub-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesBlog">Blog</a>

                                    <ul id="navSubmenuPagesBlog" class="hs-sub-menu main-sub-menu" aria-labelledby="navLinkPagesBlog" style="min-width: 230px;">
                                        <li><a class="nav-link sub-menu-nav-link" href="blog-grid.html">Blog Grid</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkPagesSpecialty" class="nav-link sub-menu-nav-link sub-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesSpecialty">Specialty</a>

                                    <ul id="navSubmenuPagesSpecialty" class="hs-sub-menu main-sub-menu" aria-labelledby="navLinkPagesSpecialty" style="min-width: 230px;">
                                        <li><a class="nav-link sub-menu-nav-link" href="domain-search-result.html">Search Search Result <span class="badge badge-warning ml-2">New</span></a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="cover-page.html">Cover Page</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="coming-soon.html">Coming Soon</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="thank-you.html">Thank You</a></li>
                                        <li><a class="nav-link sub-menu-nav-link" href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkPagesLogin" class="nav-link sub-menu-nav-link sub-link-toggle" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesLogin">Login &amp; Signup</a>

                                    <ul id="navSubmenuPagesLogin" class="hs-sub-menu main-sub-menu" aria-labelledby="navLinkPagesLogin" style="min-width: 230px;">
                                        <li><a class="nav-link sub-menu-nav-link" href="login.html">Login</a>
                                        </li>
                                        <li><a class="nav-link sub-menu-nav-link" href="sign-up.html">Signup</a>
                                        </li>
                                        <li><a class="nav-link sub-menu-nav-link" href="password-reset.html">Recover Account</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End Pages - Submenu -->
                        </li>
                        <!--pages end-->


                        <!--hosting start-->
                        <li class="nav-item hs-has-mega-menu custom-nav-item position-relative" data-position="center">
                            <a id="hostingMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="JavaScript:Void(0);" aria-haspopup="true" aria-expanded="false">Hosting</a>

                            <!-- Demos - Mega Menu -->
                            <div class="hs-mega-menu main-sub-menu" style="width: 715px" aria-labelledby="hostingMegaMenu">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div class="menu-item-wrap py-0 p-md-3 p-lg-3">
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="shared-hosting.html">
                                                    <div class="media align-items-center">
                                                        <div class="menu-item-icon rounded-circle primary-bg">
                                                            <i class="fas fa-server"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="u-header__promo-title">Shared Web Hosting</span>
                                                            <small class="u-header__promo-text">Innovate reliable quality
                                                                  Starting at <strong>$2.99</strong></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="vps-hosting.html">
                                                    <div class="media align-items-center">
                                                        <div class="menu-item-icon rounded-circle accent-bg">
                                                            <i class="fas fa-box"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="u-header__promo-title">VPS Hosting</span>
                                                            <small class="u-header__promo-text">Pefficiently maintain
                                                                  Starting at <strong>$11.99</strong></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->

                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="cloud-hosting.html">
                                                    <div class="media align-items-center">
                                                        <div class="menu-item-icon rounded-circle secondary-bg">
                                                            <i class="fas fa-cloud"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="u-header__promo-title">Cloud Hosting </span>
                                                            <small class="u-header__promo-text">Conveniently cloud Starting
                                                                  at <strong>$5.99/mo</strong></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="menu-item-wrap py-0 p-md-3 p-lg-3">
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="email-hosting.html">
                                                    <div class="media align-items-center">
                                                        <div class="menu-item-icon rounded-circle twitter-bg">
                                                            <i class="fas fa-envelope"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="u-header__promo-title">Email Hosting</span>
                                                            <small class="u-header__promo-text">First Starting at <strong>$0.99/mo
                                                                  per mailbox</strong></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="windows-vps-hosting.html">
                                                    <div class="media align-items-center">
                                                        <div class="menu-item-icon rounded-circle btn-behance">
                                                            <i class="fab fa-windows"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="u-header__promo-title">Windows VPS Hosting</span>
                                                            <small class="u-header__promo-text">Globally Starting at
                                                                  <strong>$9.99/mo</strong></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="wp-hosting.html">
                                                    <div class="media align-items-center">
                                                        <div class="menu-item-icon rounded-circle dribbble-bg">
                                                            <i class="fab fa-wordpress"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="u-header__promo-title">Wordpress Hosting</span>
                                                            <small class="u-header__promo-text">Conveniently Starting at
                                                                  <strong>$9.99/mo</strong></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                        </div>
                                    </div>

                                </div>
                                <!-- Mega Menu Banner -->
                                <div class="u-header__product-banner bg-image" image-overlay="8">
                                    <div class="background-image-wraper custom-radius-bottom" style="background: url('assets/img/hero-8.jpg')no-repeat center center / cover; opacity: 1;"></div>
                                    <div class="u-header__product-banner-content position-relative z-index text-center text-white">
                                        <div class="mb-4">
                                            <h5 class="text-white">Get 25% Discount Start Now</h5>
                                            <div class="clock menu-countdown my-4"></div>
                                        </div>
                                        <a class="btn btn-brand-03" href="#">Get Started<span class="ti-arrow-right pl-2"></span></a>
                                    </div>
                                </div>
                                <!-- End Mega Menu Banner -->
                            </div>
                            <!-- End Demos - Mega Menu -->
                        </li>
                        <!--hosting end-->

                        <!--domain start-->
                        <li class="nav-item hs-has-mega-menu custom-nav-item position-relative" data-position="center">
                            <a id="domainMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="JavaScript:Void(0);" aria-haspopup="true" aria-expanded="false">Domain</a>
                            <!-- Demos - Mega Menu -->
                            <div class="hs-mega-menu main-sub-menu" style="width: 660px" aria-labelledby="domainMegaMenu">
                                <div class="row no-gutters">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="menu-item-wrap p-3">
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="domain-checker.html">
                                                    <div class="d-flex align-items-center pb-1">
                                                        <i class="fas fa-globe mr-2 color-primary"></i>
                                                        <span class="u-header__promo-title">Domain Checker</span>
                                                    </div>
                                                    <small class="u-header__promo-text">Find the perfect domain for your business</small>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="domain-transfer.html">
                                                    <div class="d-flex align-items-center pb-1">
                                                        <i class="fas fa-exchange-alt mr-2 color-accent"></i>
                                                        <span class="u-header__promo-title">Domain Transfer</span>
                                                    </div>
                                                    <small class="u-header__promo-text">Transfer your domain easily using this tool</small>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                            <!--menu title with subtitle and icon item start-->
                                            <div class="title-with-icon-item">
                                                <a class="title-with-icon-link" href="domain-registration.html">
                                                    <div class="d-flex align-items-center pb-1">
                                                        <i class="fas fa-copyright mr-2 instagram-color"></i>
                                                        <span class="u-header__promo-title">Domain Registration </span>
                                                    </div>
                                                    <small class="u-header__promo-text">Register your domain name for lifetime</small>
                                                </a>
                                            </div>
                                            <!--menu title with subtitle and icon item end-->
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 gray-light-bg custom-radius-right">
                                        <div class="menu-item-wrap p-4">
                                            <h6>#1 Web Hosting Company</h6>
                                            <ul class="list-unstyled tech-feature-list">
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>Flexible</strong> Easy to Use Control Panel</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>99%</strong> Uptime Guarantee</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>45-Day</strong> Money-Back Guarantee</small></li>
                                                <li class="py-1"><small><span class="fas fa-check-circle text-success mr-2"></span><strong>Free SSL</strong> Certificate Included</small></li>
                                            </ul>
                                            <a class="btn btn-brand-03 mt-3" href="#">Learn More <span
                                                      class="fas fa-angle-right ml-2"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End Demos - Mega Menu -->
                        </li>
                        <!--domain end-->

                        <li class="nav-item hs-has-sub-menu custom-nav-item">
                            <a class="nav-link custom-nav-link" href="affiliates.html">Affiliates</a>
                        </li>

                        <!--about start-->
                        <li class="nav-item hs-has-mega-menu custom-nav-item position-relative" data-position="center">
                            <a id="aboutMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="JavaScript:Void(0);" aria-haspopup="true" aria-expanded="false">Company</a>

                            <!--about submenu start-->
                            <div class="hs-mega-menu main-sub-menu" style="width: 320px" aria-labelledby="aboutMegaMenu">
                                <!--menu title with subtitle and icon item start-->
                                <div class="title-with-icon-item">
                                    <a class="title-with-icon-link" href="contact-us.html">
                                        <div class="media align-items-center">
                                            <img class="menu-titile-icon" src="assets/img/chat-mobile.svg" alt="SVG">
                                            <div class="media-body">
                                                <span class="u-header__promo-title">Contact Us</span>
                                                <small class="u-header__promo-text">Face any problem contact with us
                                                  </small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--menu title with subtitle and icon item end-->

                                <!--menu title with subtitle and icon item start-->
                                <div class="title-with-icon-item">
                                    <a class="title-with-icon-link" href="about-us.html">
                                        <div class="media align-items-center">
                                            <img class="menu-titile-icon" src="assets/img/community.svg" alt="SVG">
                                            <div class="media-body">
                                                <span class="u-header__promo-title">About Us</span>
                                                <small class="u-header__promo-text">We are leading hosting company
                                                  </small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--menu title with subtitle and icon item end-->

                                <!--menu title with subtitle and icon item start-->
                                <div class="title-with-icon-item">
                                    <a class="title-with-icon-link" href="partners.html">
                                        <div class="media align-items-center">
                                            <img class="menu-titile-icon" src="assets/img/partner.svg" alt="SVG">
                                            <div class="media-body">
                                                <span class="u-header__promo-title">Our Partner</span>
                                                <small class="u-header__promo-text">We have trusted partners globally
                                                  </small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--menu title with subtitle and icon item end-->

                                <!--menu title with subtitle and icon item start-->
                                <div class="title-with-icon-item">
                                    <a class="title-with-icon-link" href="network.html">
                                        <div class="media align-items-center">
                                            <img class="menu-titile-icon" src="assets/img/network.svg" alt="SVG">
                                            <div class="media-body">
                                                <span class="u-header__promo-title">Network</span>
                                                <small class="u-header__promo-text">Keep your data save and secure
                                                  </small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--menu title with subtitle and icon item end-->

                                <!--menu title with subtitle and icon item start-->
                                <div class="title-with-icon-item">
                                    <a class="title-with-icon-link" href="blog-grid.html">
                                        <div class="media align-items-center">
                                            <img class="menu-titile-icon" src="assets/img/blog.svg" alt="SVG">
                                            <div class="media-body">
                                                <span class="u-header__promo-title">Company Blog</span>
                                                <small class="u-header__promo-text">Industry latest technology news &
                                                      tips
                                                  </small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--menu title with subtitle and icon item end-->
                            </div>
                            <!--about submenu end-->
                        </li>
                        <!--about end-->

                        <!--button start-->
                        <li class="nav-item header-nav-last-item d-flex align-items-center">
                            <a class="btn btn-brand-03 animated-btn" href="https://themetags.net/whmcs/?systpl=kohost-professional-rtl" target="_blank">
                                <span class="fa fa-user pr-2"></span> Client Area
                            </a>
                        </li>
                        <!--button end-->
                    </ul>
                </div>
                <!--main menu end-->
            </nav>
        </div>
    </div>
    <!--main header menu end-->
</header>
<!--header section end-->

<div class="main">

    <!--hero section start-->
    <section class="ptb-120 gradient-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <div class="hero-content-wrap text-white text-center position-relative">
                        <h1 class="text-white">More Then 150 Ultra-Fast Data Center Worldwide</h1>
                        <p class="lead">Web hosting made easy & affordable, choose a fine-tuned web hosting services solution for successful personal and business websites.</p>
                    </div>
                    <div class="network-map-wrap mt-5">
                        <ul class="custom-map-location">
                            <li style="top: 29%; left: 15.5%;">
                                <span data-toggle="tooltip" data-placement="top" title="Canada"></span>
                            </li>
                            <li style="top: 42%; left: 20%;">
                                <span data-toggle="tooltip" data-placement="top" title="United States"></span>
                            </li>
                            <li style="top: 70%; left: 32%;">
                                <span data-toggle="tooltip" data-placement="top" title="Brazil"></span>
                            </li>
                            <li style="top: 57%; left: 48%;">
                                <span data-toggle="tooltip" data-placement="top" title="Nigeria"></span>
                            </li>
                            <li style="top: 18%; left: 53%;">
                                <span data-toggle="tooltip" data-placement="top" title="Finland"></span>
                            </li>
                            <li style="top: 34%; left: 55%;">
                                <span data-toggle="tooltip" data-placement="top" title="Ukraine"></span>
                            </li>
                            <li style="top: 45%; left: 68%;">
                                <span data-toggle="tooltip" data-placement="top" title="India"></span>
                            </li>
                            <li style="top: 35%; left: 80%;">
                                <span data-toggle="tooltip" data-placement="top" title="China"></span>
                            </li>
                            <li style="top: 77%; left: 85%;">
                                <span data-toggle="tooltip" data-placement="top" title="Australia"></span>
                            </li>
                        </ul>
                        <img src="assets/img/map-dark.svg" alt="location map">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <section class="feature-tab-section ptb-100 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12 order-lg-last">
                    <div class="image-box fadein text-xl-right text-center">
                        <img src="assets/img/network-1.jpg" alt="wp-hosting" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 order-xl-first">
                    <h2>Advanced Search to Make your Life Fester and Easier</h2>
                    <p class="lead">Progressively matrix mission-critical core competencies without magnetic paradigms.
                    </p>
                    <div class="row pt-2">
                        <div class="col-12">
                            <h5>Multi-layered security</h5>
                            <p>Continually empower goal-oriented niche markets whereas interoperable outsourcing. Assertively incubate standardized methods of empowerment </p>
                        </div>
                        <div class="col-12">
                            <h5>Green-friendly hosting</h5>
                            <p>Monotonectally negotiate multifunctional applications whereas unique niche markets. Continually recaptiualize open-source catalysts for change whereas adaptive content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mt-5">
                <div class="col-xl-6 col-lg-6 col-12 order-lg-last">
                    <div class="image-box fadein text-xl-right text-center">
                        <img src="assets/img/network-2.jpg" alt="wp-hosting" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 order-xl-last">
                    <h2>Fast connectivity & low latency</h2>
                    <p class="lead">Efficiently reintermediate long-term high-impact channels without equity invested technology.</p>
                    <div class="row pt-2">
                        <div class="col-12">
                            <h5>Exclusive Features</h5>
                            <p>Globally seize functional products rather than compelling supply chains capital before frictionless quality vectors. Holisticly envisioneer worldwide niche markets for efficient services.</p>
                        </div>
                        <div class="col-12">
                            <h5>Ultra-Fast Network</h5>
                            <p>Dramatically aggregate granular resources vis-a-vis process-centric process deliver enterprise-wide scenarios improvements. Quickly target compelling e-services after cross functional schemas. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--call to action section start-->
    <section class="ptb-60 primary-bg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-6">
                    <div class="cta-content-wrap text-white">
                        <h2 class="text-white">24/7 Expert Hosting Support Our Customers Love</h2>
                        <p>Objectively innovate high compellingly maintain progressively pursue mission-critical information quality imperatives. </p>
                    </div>
                    <div class="support-action d-inline-flex flex-wrap">
                        <a href="mailto:support@yourdomain.com" class="mr-3"><i class="fas fa-comment mr-1 color-accent"></i> <span>support@yourdomain.com</span></a>
                        <a href="tel:+00123456789" class="mb-0"><i class="fas fa-phone-alt mr-1 color-accent"></i> <span>+00123456789</span></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-none d-lg-block">
                    <div class="cta-img-wrap text-center">
                        <img src="assets/img/call-center-support.svg" width="250" class="img-fluid" alt="server room">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--call to action section end-->

    <!--faq section start-->
    <section id="faq" class="ptb-100 ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Frequently Asked Queries</h2>
                        <p>Efficiently productivate reliable paradigms before ubiquitous models. Continually utilize frictionless expertise whereas tactical relationships. Still have questions? Contact us</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-12">
                    <div id="accordion" class="accordion faq-wrap">
                        <div class="card mb-3">
                            <a class="card-header " data-toggle="collapse" href="#collapse0" aria-expanded="false">
                                <h6 class="mb-0 d-inline-block">Which license do I need?</h6>
                            </a>
                            <div id="collapse0" class="collapse show" data-parent="#accordion" style="">
                                <div class="card-body white-bg">
                                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        you probably haven&#x27;t heard of them accusamus labore sustainable VHS. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card my-3">
                            <a class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                                <h6 class="mb-0 d-inline-block">How do I get access to a theme?</h6>
                            </a>
                            <div id="collapse1" class="collapse " data-parent="#accordion" style="">
                                <div class="card-body white-bg">
                                    <p>Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#x27;t heard of them accusamus. Seamlessly optimize empowered testing procedures
                                        before revolutionary processes. Progressively facilitate client-centered technologies whereas extensive users. Authoritatively. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card my-3">
                            <a class="card-header collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false">
                                <h6 class="mb-0 d-inline-block">How do I see previous orders?</h6>
                            </a>
                            <div id="collapse2" class="collapse " data-parent="#accordion" style="">
                                <div class="card-body white-bg">
                                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        you probably haven&#x27;t heard of them accusamus labore sustainable VHS. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <a class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
                                <h6 class="mb-0 d-inline-block">Support related issues for the template?</h6>
                            </a>
                            <div id="collapse3" class="collapse " data-parent="#accordion" style="">
                                <div class="card-body white-bg">
                                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table. Professionally embrace customer directed
                                        value vis-a-vis high-quality portals. Quickly underwhelm B2C users with maintainable benefits. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--faq section end-->

</div>

<!--footer section start-->
<footer class="footer-1 ptb-60 gradient-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-md-4 mb-sm-4 mb-lg-0">
                <a href="#" class="navbar-brand mb-2">
                    <img src="assets/img/logo-white.png" alt="logo" class="img-fluid">
                </a>
                <br>
                <p>Dynamically re-engineer high standards in functiona with alternative paradigms. Conveniently monetize resource maximizing initiatives.</p>
                <ul class="list-inline social-list-default background-color social-hover-2 mt-2">
                    <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row mt-0">
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                        <h6 class="font-weight-normal">Resources</h6>
                        <ul>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">Live sessions</a>
                            </li>
                            <li>
                                <a href="#">Open source</a>
                            </li>
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                        <h6 class="font-weight-normal">Products</h6>
                        <ul>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                            <li>
                                <a href="#">Navigation</a>
                            </li>
                            <li>
                                <a href="#">AI Studio</a>
                            </li>
                            <li>
                                <a href="#">Page Speed </a>
                            </li>
                            <li>
                                <a href="#">Performance</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                        <h6 class="font-weight-normal">Company</h6>
                        <ul>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Customers</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Our Team</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <h6 class="font-weight-normal">Support</h6>
                        <ul>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Sells</a>
                            </li>
                            <li>
                                <a href="#">Contact Support</a>
                            </li>
                            <li>
                                <a href="#">Network Status</a>
                            </li>
                            <li>
                                <a href="#">Product Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->
</footer>

<!--footer bottom copyright start-->
<div class="footer-bottom py-3 gray-light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <div class="copyright-wrap small-text">
                    <p class="mb-0">&copy; ThemeTags Design Agency, All rights reserved</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="terms-policy-wrap text-lg-right text-md-right text-left">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="small-text" href="terms-condition.html">Terms & Condition</a></li>
                        <li class="list-inline-item"><a class="small-text" href="#">Security</a></li>
                        <li class="list-inline-item"><a class="small-text" href="privacy-policy.html">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer bottom copyright end-->
<!--footer section end-->

<!--scroll bottom to top button start-->
<div class="scroll-top scroll-to-target primary-bg text-white" data-target="html">
    <span class="fas fa-hand-point-up"></span>
</div>