<div class="col-lg-4 col-md-4">
    <div class="sidebar-right pl-4">

        <!-- Search widget-->
        <aside class="widget widget-search">
            <form>
                <input class="form-control" type="search" placeholder="Type Search Words">
                <button class="search-button" type="submit"><span class="ti-search"></span></button>
            </form>
        </aside>


        <!-- Categories widget-->
        <aside class="widget widget-categories">
            <div class="widget-title">
                <h6>Categories</h6>
            </div>
            <ul>
                <li><a href="#">Journey <span class="float-right">112</span></a></li>
                <li><a href="#">Development <span class="float-right">86</span></a></li>
                <li><a href="#">Sport <span class="float-right">10</span></a></li>
                <li><a href="#">Photography <span class="float-right">144</span></a></li>
                <li><a href="#">Symphony <span class="float-right">18</span></a></li>
            </ul>
        </aside>

        <!-- Recent entries widget-->
        <aside class="widget widget-recent-entries-custom">
            <div class="widget-title">
                <h6>Recent Posts</h6>
            </div>
            <ul>
                <li class="clearfix">
                    <div class="wi">
                        <a href="blog-details.html"><img src="assets/img/blog/1.jpg" alt="recent post" class="img-fluid rounded" /></a>
                    </div>
                    <div class="wb"><a href="blog-details.html">Map where your photos were taken and discover local points.</a><span class="post-date">May 8, 2016</span></div>
                </li>
                <li class="clearfix">
                    <div class="wi">
                        <a href="blog-details.html"><img src="assets/img/blog/2.jpg" alt="recent post" class="img-fluid rounded" /></a>
                    </div>
                    <div class="wb"><a href="blog-details.html">Map where your photos were taken and discover local points.</a><span class="post-date">May 8, 2016</span></div>
                </li>
                <li class="clearfix">
                    <div class="wi">
                        <a href="blog-details.html"><img src="assets/img/blog/3.jpg" alt="recent post" class="img-fluid rounded" /></a>
                    </div>
                    <div class="wb"><a href="blog-details.html">Map where your photos were taken and discover local points.</a><span class="post-date">May 8, 2016</span></div>
                </li>
            </ul>
        </aside>

        <!-- Subscribe widget-->
        <aside class="widget widget-categories">
            <div class="widget-title">
                <h6>Newsletter</h6>
            </div>
            <p>Enter your email address below to subscribe to my newsletter</p>
            <form action="#" method="post" class="d-none d-md-block d-lg-block">
                <input type="text" class="form-control input" id="email-footer" name="email" placeholder="info@yourdomain.com">
                <button type="submit" class="btn btn-brand-01 btn-block mt-3">Subscribe</button>
            </form>
        </aside>

        <!-- Tags widget-->
        <aside class="widget widget-tag-cloud">
            <div class="widget-title">
                <h6>Tags</h6>
            </div>
            <div class="tag-cloud"><a href="#">e-commerce</a><a href="#">portfolio</a><a href="#">responsive</a><a href="#">bootstrap</a><a href="#">business</a><a href="#">corporate</a></div>
        </aside>
    </div>
</div>