<app-title [props]=[propiedades]></app-title>


<!--affiliates promo contents start-->
<section id="features" class="feature-tab-section ptb-100 ">
    <div class="container">
        <!-- Inicio Honduras -->
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="cta-new-wrap">
                    <h2>Honduras work team</h2>
                    <p class="small">It is made up of teachers and students from the Universidad Autónoma de Honduras. </p>
                    <ul class="list-unstyled tech-feature-list" *ngFor="let member of teamHn">
                        <li class="py-1"><span class="fas fa-check-circle text-success mr-2"></span><strong>{{member.nombre}} </strong> {{member.rol}}</li>
                    </ul>
                    <div class="action-btns mt-4">
                        <a [routerLink]="['../teamcountry','hn']" class="btn btn-outline-brand-01">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="cta-new-wrap">
                    <img src="assets/img/affliate.png" alt="hosting" class="img-fluid" />
                </div>
            </div>
        </div>
        <!-- fin Honduras -->
        <!-- Inicio  Costa Rica -->
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-lg-6">
                <div class="cta-new-wrap">
                    <img src="assets/img/affliate-1.png" alt="hosting" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="cta-new-wrap">
                    <h2>Costa Rica work team</h2>
                    <p class="small">It is made up of teachers and students from the Universidad de Costa Rica. </p>
                    <ul class="list-unstyled tech-feature-list" *ngFor="let member of teamCr">
                        <li class="py-1"><span class="fas fa-check-circle text-success mr-2"></span><strong>{{member.nombre}} </strong> {{member.rol}}</li>
                    </ul>
                    <div class="action-btns mt-4">
                        <a [routerLink]="['../teamcountry','cr']" class="btn btn-outline-brand-01">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin  Costa Rica -->
        <!-- Inicio Guatemala -->
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="cta-new-wrap">
                    <h2>Guatemala work team</h2>
                    <p class="small">It is made up of teachers and students from the Universidad de San Carlos de Guatemala. </p>
                    <ul class="list-unstyled tech-feature-list" *ngFor="let member of teamHn">
                        <li class="py-1"><span class="fas fa-check-circle text-success mr-2"></span><strong>{{member.nombre}} </strong> {{member.rol}}</li>
                    </ul>
                    <div class="action-btns mt-4">
                        <a [routerLink]="['../teamcountry','gt']" class="btn btn-outline-brand-01">More info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="cta-new-wrap">
                    <img src="assets/img/affliate.png" alt="hosting" class="img-fluid" />
                </div>
            </div>
        </div>
        <!-- fin Guatemala -->
    </div>
</section>
<!--affiliates promo contents end-->