<section class="ptb-120 gradient-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8">
                <div class="hero-content-wrap text-white text-center position-relative">
                    <h1 class="text-white">MORAZAN CUBESAT</h1>
                    <p class="lead">Represents a project for the integration of the Central American Nations through the collaboration in outer space. </p>
                </div>
                <div class="network-map-wrap mt-5">
                    <ul class="custom-map-location">
                        <li style="top: 29%; left: 25.5%;">
                            <span data-toggle="tooltip" data-placement="top" title="Guatemala"></span>
                        </li>
                        <li style="top: 42%; left: 45%;">
                            <span data-toggle="tooltip" data-placement="top" title="Honduras"></span>
                        </li>
                        <li style="top: 80%; left: 50%;">
                            <span data-toggle="tooltip" data-placement="top" title="Costa Rica"></span>
                        </li>
                    </ul>
                    <img src="./assets/img/map-dark.png" alt="location map">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feature-tab-section ptb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-12 order-lg-last">
                <div class="image-box fadein text-xl-right text-center">
                    <img src="./assets/img/network-1.jpg" alt="wp-hosting" class="img-fluid rounded" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12 order-xl-first">
                <h2>Advanced Search to Make your Life Fester and Easier</h2>
                <p class="lead">Progressively matrix mission-critical core competencies without magnetic paradigms.
                </p>
                <div class="row pt-2">
                    <div class="col-12">
                        <h5>Multi-layered security</h5>
                        <p>Continually empower goal-oriented niche markets whereas interoperable outsourcing. Assertively incubate standardized methods of empowerment </p>
                    </div>
                    <div class="col-12">
                        <h5>Green-friendly hosting</h5>
                        <p>Monotonectally negotiate multifunctional applications whereas unique niche markets. Continually recaptiualize open-source catalysts for change whereas adaptive content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mt-5">
            <div class="col-xl-6 col-lg-6 col-12 order-lg-last">
                <div class="image-box fadein text-xl-right text-center">
                    <img src="./assets/img/network-2.jpg" alt="wp-hosting" class="img-fluid rounded" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12 order-xl-last">
                <h2>Fast connectivity & low latency</h2>
                <p class="lead">Efficiently reintermediate long-term high-impact channels without equity invested technology.</p>
                <div class="row pt-2">
                    <div class="col-12">
                        <h5>Exclusive Features</h5>
                        <p>Globally seize functional products rather than compelling supply chains capital before frictionless quality vectors. Holisticly envisioneer worldwide niche markets for efficient services.</p>
                    </div>
                    <div class="col-12">
                        <h5>Ultra-Fast Network</h5>
                        <p>Dramatically aggregate granular resources vis-a-vis process-centric process deliver enterprise-wide scenarios improvements. Quickly target compelling e-services after cross functional schemas. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--call to action section start-->
<section class="ptb-60 primary-bg">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6">
                <div class="cta-content-wrap text-white">
                    <h2 class="text-white">24/7 Expert Hosting Support Our Customers Love</h2>
                    <p>Objectively innovate high compellingly maintain progressively pursue mission-critical information quality imperatives. </p>
                </div>
                <div class="support-action d-inline-flex flex-wrap">
                    <a href="mailto:support@yourdomain.com" class="mr-3"><i class="fas fa-comment mr-1 color-accent"></i> <span>support@yourdomain.com</span></a>
                    <a href="tel:+00123456789" class="mb-0"><i class="fas fa-phone-alt mr-1 color-accent"></i> <span>+00123456789</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-none d-lg-block">
                <div class="cta-img-wrap text-center">
                    <img src="./assets/img/call-center-support.svg" width="250" class="img-fluid" alt="server room">
                </div>
            </div>
        </div>
    </div>
</section>
<!--call to action section end-->

<!--faq section start-->
<section id="faq" class="ptb-100 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5">
                    <h2>Frequently Asked Queries</h2>
                    <p>Efficiently productivate reliable paradigms before ubiquitous models. Continually utilize frictionless expertise whereas tactical relationships. Still have questions? Contact us</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-12">
                <div id="accordion" class="accordion faq-wrap">
                    <div class="card mb-3">
                        <a class="card-header " data-toggle="collapse" href="#collapse0" aria-expanded="false">
                            <h6 class="mb-0 d-inline-block">Which license do I need?</h6>
                        </a>
                        <div id="collapse0" class="collapse show" data-parent="#accordion" style="">
                            <div class="card-body white-bg">
                                <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                    probably haven&#x27;t heard of them accusamus labore sustainable VHS. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card my-3">
                        <a class="card-header collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                            <h6 class="mb-0 d-inline-block">How do I get access to a theme?</h6>
                        </a>
                        <div id="collapse1" class="collapse " data-parent="#accordion" style="">
                            <div class="card-body white-bg">
                                <p>Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#x27;t heard of them accusamus. Seamlessly optimize empowered testing procedures before
                                    revolutionary processes. Progressively facilitate client-centered technologies whereas extensive users. Authoritatively. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card my-3">
                        <a class="card-header collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false">
                            <h6 class="mb-0 d-inline-block">How do I see previous orders?</h6>
                        </a>
                        <div id="collapse2" class="collapse " data-parent="#accordion" style="">
                            <div class="card-body white-bg">
                                <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                    probably haven&#x27;t heard of them accusamus labore sustainable VHS. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <a class="card-header collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
                            <h6 class="mb-0 d-inline-block">Support related issues for the template?</h6>
                        </a>
                        <div id="collapse3" class="collapse " data-parent="#accordion" style="">
                            <div class="card-body white-bg">
                                <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table. Professionally embrace customer directed
                                    value vis-a-vis high-quality portals. Quickly underwhelm B2C users with maintainable benefits. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--faq section end-->