<app-title [props]=[propiedades]></app-title>

<!--blog details section start-->

<div class="module ptb-20">
    <div class="container">
        <div class="row align-content-center text-center ">
            <div class=" col-xl-6 col-lg-6 col-8  center"><img src="{{'riskca.jpg' | imagegeneral}}" alt="article" class="img-fluid" /></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Post-->
                <article class="post">

                    <div class="post-wrapper">
                        <div class="post-header">
                            <h1 class="post-title">The Morazán Project mission has two main fronts:</h1>
                            <ul class="post-meta">
                                <li>August 18, 2019</li>
                            </ul>
                        </div>
                        <div class="post-content">

                            <div class="align-content-center">
                                <h5 class="text-center">1) Provide support on issues of natural disasters caused by hydrometeorological events through prevention and mitigation of these events. </h5>
                            </div>

                            <strong>Monitoring and prevention:</strong>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-8 order-lg-last">
                                    <div class="image-box fadein text-xl-right text-center">
                                        <img src="{{'missiongeneralca.jpg' | imagegeneral}}" alt="wp-hosting" class="img-fluid rounded" />
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-12 order-xl-first">
                                    <p>Monitoring of the hydrometeorological variables of high risk watersheds, which are analyzed in almost real time to generate early warnings before and during extreme weather events.</p>
                                </div>
                            </div>


                            <strong>Mitigation:</strong>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-8 order-lg-last">

                                    <div class="image-box fadein text-xl-right text-center">
                                        <img src="{{'missionduringeventca.jpg' | imagegeneral}}" alt="wp-hosting" class="img-fluid rounded" />
                                    </div>

                                </div>
                                <div class="col-xl-8 col-lg-8 col-12 order-xl-first">
                                    <p>Once an event has occurred that inflicts considerable damage to the communication infrastructure, the proposed satellite should function as an additional communication system between communities and authorities to attend
                                        to the event.</p>


                                </div>
                            </div>



                            <div class="align-content-center">
                                <h5 class="text-center">2) Space education and inspiration for future generations through access to data and images provided by the satellite.</h5>
                            </div>


                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-8 order-lg-last">
                                    <div class="image-box fadein text-xl-right text-center">
                                        <img src="{{'missionimagecapturetca.jpg' | imagegeneral}}" alt="wp-hosting" class="img-fluid rounded" />
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-12 order-xl-first">
                                    <p>The satellite will carry on board a low resolution camera which will transmit images to Earth using simple communication protocols for image transmission within the amateur radio band. Through STEM education programs,
                                        students from Central American schools will learn to download these images freely every time the satellite is in range of visibility, using yaggi-type antennas, radios, and their smart devices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Post end-->
            </div>
        </div>
    </div>

</div>
<!--blog details section end-->