<footer class="footer-1 ptb-60 gradient-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-md-4 mb-sm-4 mb-lg-0">
                <a href="#" class="navbar-brand mb-2">
                    <img src="assets/img/logo-white.png" alt="logo" class="img-fluid">
                </a>
                <br>
                <p></p>
                <ul class="list-inline social-list-default background-color social-hover-2 mt-2">
                    <li class="list-inline-item"><a class="facebook" href="https://www.facebook.com/CentroAmericaenelEspacio"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row mt-0">

                    <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                        <h6 class="font-weight-normal">Missions</h6>
                        <ul>
                            <li>
                                <a [routerLink]="['../missiontec']">Technical</a>
                            </li>
                            <li>
                                <a [routerLink]="['../missionsc']">Scientific</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                        <h6 class="font-weight-normal">Team work</h6>
                        <ul>
                            <li>
                                <a [routerLink]="['../teamcountry','gt']">Guatemala</a>
                            </li>
                            <li>
                                <a [routerLink]="['../teamcountry','hn']">Honduras</a>
                            </li>
                            <li>
                                <a [routerLink]="['../teamcountry','cr']">Costa Rica</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                        <h6 class="font-weight-normal">Morazan Sat</h6>
                        <ul>
                            <li>
                                <a [routerLink]="['../about']">About</a>
                            </li>
                            <li>
                                <a [routerLink]="['../contact']">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->

</footer>

<!--footer bottom copyright start-->
<div class="footer-bottom py-3 gray-light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <div class="copyright-wrap small-text">
                    <p class="mb-0">&copy; Morazan project, All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer bottom copyright end-->


<!--scroll bottom to top button start-->
<div class="scroll-top scroll-to-target primary-bg text-white" data-target="html">
    <span class="fas fa-hand-point-up"></span>
</div>